<head>
  <link href="../../assets/stylesheets/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> 


</head>
<body>
  <p id="notice"><%= notice %></p>

  <h1>Book Notes</h1>
  <br/>
  <p>Bienvenue sur Book Notes ! </p> 
  <p>Ici, vous trouverez une multitude d’avis et de critiques sur un panel de livres, films, séries, animés, etc. </p>
  <p>Vous découvrirez ainsi de nouvelles oeuvres et vous pourrez donner votre avis sur l’une d’elle !</p>
  <h2>Reviews</h2>


  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Theme</th>
        <th>Comment</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.title %></td>
          <td><%= review.theme %></td>
          <td><%= review.comment %></td>
          <td><%= link_to 'Show', review %></td>
          <td><%= link_to 'Edit', edit_review_path(review) %></td>
          <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Review' , new_review_path %>
 


</body>